include "autostart.kdl"
include "envs.kdl"
include "layout.kdl"
include "binds.kdl"
include "ui.kdl"

config-notification {
    disable-failed
}

overview {
    workspace-shadow {
        off
    }
}

hotkey-overlay {
    skip-at-startup
}
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

debug {
    honor-xdg-activation-with-invalid-serial
}
