include "autostart.kdl"
include "envs.kdl"
include "input.kdl"
include "layout.kdl"
include "binds.kdl"
include "ui.kdl"

output "eDP-1" {
    mode "1920x1080@144.003"
    variable-refresh-rate
}

output "HDMI-A-1" {
    mode "1920x1080@100"
    focus-at-startup
}

config-notification {
    disable-failed
}

overview {
    workspace-shadow {
        off
    }
}

hotkey-overlay {
    skip-at-startup
}
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

debug {
    honor-xdg-activation-with-invalid-serial
}

include "dms/cursor.kdl"
include "dms/binds.kdl"

include "dms/windowrules.kdl"
